.game {
    width: fit-content;
    height: fit-content;
}
.row{
    width: fit-content;
    height: fit-content;
}
.column {
    float: left;
    width: 50px;
    height: 50px;
    /* padding: 5px; */
    background-color: white;
}
.button{
    width: 100%;
    height: 100%;
}
.parent {
    width: 99vw; 
    height: 75vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.controls {
    width: 99vw; 
    height: 10vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
p {
    font-size: xx-large;
}
button {
    font-size: xx-large;
    background-color: white;
}
@media screen and (max-width: 700px){
    .column {
        width: 30px;
        height: 30px;
    }
    button {
        font-size: x-large;
    }
}
@media screen and (max-width: 450px){
    .column {
        width: 20px;
        height: 20px;
    }
    button {
        font-size: medium;
    }
}
@media screen and (max-width: 300px){
    .column {
        width: 15px;
        height: 15px;
    }
    p {
    font-size: x-large;
    }
    button {
        font-size: x-small;
    }
}